General Style: 

h1, h2, h3 {
  color: #333;
}

p {
  line-height: 1.5;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


a:link, a:visited {
  background-color: white;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: black;
  color: yellow;
}

Attributes: 

.wrapper {
  background-color: lightpink;
  
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left, .right {
  background-color: lightblue;
  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
}
