General Style: 

h1, h2, h3 {
  color: #333;
}

p {
  line-height: 1.5;
}

html, body {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.links_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
.links_bar li {
  float:left
}

.links_bar a:link, a:visited {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 35px;
  padding: 15px 25px;
  border: 2px solid black;
}

.links_bar a:hover, a:active {
  background-color: blue;
  color: white;
}


classes: 

.wrapper {
  background-color: lightblue;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.top {
  background-color: lightblue;
  margin: 5px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: double;
  border-color: black;
  border-width: 5px;
}

.left, .right {
  background-color: lightblue;
  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: single;
  border-color: black;
  border-width: 2px;
}

.left {
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
}
